* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .container {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1521790361543-f645cf042ec4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46e918f40d1015505c942fd53c19bd3b&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
header .container .btn-menu {
	z-index: 3000;
	display: none;
	width: 100%;
	height: 60px;
	background: #fff;
	padding: 15px;
	color: #000;
	text-align: right;
}
header .container .menu {
	z-index: 1000;
	width: 100%;
	text-align: right;
	display: flex;
	padding: 20px 100px 10px 10px;
	justify-content: flex-end;
	position: fixed;
}
header .container .menu a {
	z-index: 2;
	display: none;
	position: relative;
	margin-right: 25px;
	color: #000;
	font-size: 1.4em;
	text-decoration: none;
	bottom: 15%;
}
header .container .menu a:hover {
	cursor: pointer;
	border-bottom: 3px solid #EC9A15;
}
header .box {
	width: 450px;
    background: rgba(0, 0, 0, .4);
    padding: 40px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
    margin-top: 5%;
	color: #fff;
	position: absolute;
	right: 40%;
}
header .box .box-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
header .box h1 {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 100;
}
header .box h5 {
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 10px;
}
header .box p {
    text-align: justify;
    font-size: 15px;
    margin-top: 10px;
}
/* BOTONES SOCIALES*/
header .box ul {
    margin-top: 5px;
}

header .box .middle .btn {
	display: inline-block;
	width: 55px;
	height: 55px;
	background: #f1f1f1;
	margin: 6px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;
}

header .box .middle .btn i {
	line-height: 55px;
	font-size: 26px;
	transition: .2s linear;
}

header .box .middle .btn:hover i {
	transform: scale(1.3);
	color: #f1f1f1;
}

header .box .middle .btn::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

header .box .middle .btn:hover::before {
	animation: anibtn .7s 1;
	top: -10%;
	left: -10%;
}

@keyframes anibtn {
	0% {
		left: -110%;
		top: 90%;
	}

	50% {
		left: 10%;
		top: -30%;
	}

	100% {
		top: -10%;
		left: -10%;
	}
}
header .container .arrow {
    display: inline-block;
    position: absolute;
    width: 40px;
    top: 90%;
    left: 50%;
    color: #000;
    text-align: center;
    font-size: 1.5em;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: "Poiret One";
    position: relative;
}
.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: auto;
    background: #fff;
    position: relative;
    box-shadow: 2px 5px 30px #333;
    z-index: 2;
} 
.content .container .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}
.content .container .introduction .profile_title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 0;
}
.content .container .introduction .profile_text {
    border-top: 2px solid #ddd;
    padding: 10px 0;
    font-size: 1.2em;
    text-align: center;
}
.img-parallax {
    height: 250px;
	width: 100%;
	background-image: url(https://images.unsplash.com/photo-1495681878959-c54e6ffab2ff?ixlib=rb-0.3.5&s=66e525fc36d49723520d7ade18c751bb&auto=format&fit=crop&w=1017&q=80);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: right top;
	opacity: 0.8;
}
.content .container .abilities {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content .container .abilities .skills_title {
    font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	border-bottom: 2px solid #ddd;
	text-align: center;
	margin: 20px 0;
	padding-bottom: 10px;
}
.content .container .abilities .desc_skills {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
	width: 100%;
}
.content .container .abilities .desc_skills .ability {
    width: 20%;
	height: 100px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;
}
.content .container .abilities .desc_skills .ability > p {
    margin-top: 10px;
}
.content .container .abilities .desc_skills .ability > .icono {
    font-size: 2em;
	color: #EC9A15;
}
.proyectos {
	width: 100%;
	position: relative;
	top: -100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10%;
}
.proyectos .titulo_proyectos {
	font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	border-bottom: 2px solid #ddd;
	text-align: center;
	margin: 20px 0;
	padding-bottom: 10px;
}
.proyectos .proyecto {
	width: 30%;
	height: auto;
	padding: 5px;
	box-shadow: 2px 2px 5px #999;
	margin: 10px;
	color: #999;
	opacity: .8;
}
.proyectos .proyecto:hover {
	opacity: 1;
}

.proyectos .proyecto img {
	width: 100%;
}
.proyectos .proyecto .titulo {
	text-align: center;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

footer {
	background: #222;
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #aaa;
}
footer .redes-sociales {
	  margin-top: 20px;
}
footer .redes-sociales > i {
	font-size: 1.5em;
	margin: 0 20px;
	cursor: pointer;
}
footer .contactos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
footer .contactos > div {
	margin: 10px;
}
footer .contactos > div > i {
    font-size: 1.5em;
}
footer .copyright {
	font-size: .8em;
}

@media only screen and (max-width: 700px) {
	header .container {
		height: 80vh;
	}
    header .container .btn-menu {
		display: block;
		position: fixed;
	}
	
	header .container .menu {
		flex-direction: column;
		justify-content: flex-start;
		text-align: left;
		background: #fff;
		padding: 10px 10px 10px 10px;
		padding-top: 60px;
		position: fixed;
	}
	header .container .menu-s {
		display: none;
		transition: .3s;
	}
	header .container .menu a:hover {
		cursor: pointer;
		border-bottom: none;
	}
	header .container .menu a:hover {
		cursor: pointer;
		color: #000;
	}
	header .container {
		background-attachment: scroll;
	}
	header .box {
		width: 100%;
		right: -.1%;
	}
	header .container .list-social {
		display: none;
	}
	header .container .title {
		width: 90%;
		top: 40%;
		left: 5%;
	}
	header .container .title .name {
		font-size: 1.4em;
	}
	header .container .arrow {
		top: 40%;
		left: 45%;
	}
	.img-parallax {
		background-attachment: scroll;
	}
	.content .container {
		margin-top: 145px; 
	}
	.proyectos{
		top:0;
	}
	.proyectos .proyecto {
		width: 100%;
		margin-bottom: 20px;
	  }
	.proyectos .proyecto:hover {
		width: 100%;
	}
}